<!DOCTYPE html>
<html lang="ko"
	xmln="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>rest_board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
	    <h2>게시글 등록</h2>
	    <form id="frm" name="frm" method="post" action="/board/write" enctype="multipart/form-data">
	    	<table class="board_detail">
				ID : <span sec:authentication="name"></span> <br>
				소유 권한 : <span sec:authentication="authorities"></span> <br>
	    		<tr>
	    			<td>제목</td>
	    			<td><input type="text" id="title" name="title"/></td><br>	
	    		</tr>
	    		<tr>
	    			<td colspan="2">
		    			<textarea id="contents" name="contents"></textarea>
	    			</td>
	    		</tr>
	    	</table>
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<input type="file" id="files" name="files" multiple="multiple">
	    	<input type="submit" id="submit" value="저장" class="btn">
	    </form>
    </div>
</body>
</html>