<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title> sign up </title>
	</head>
	<body>
		<h1> Sign up page </h1>
		
		<form th:action="@{/user}" method="POST">
			id : <input type="text" name="id"> <br>
			password : <input type="password" name="password"> <br>
			nickname : <input type="text" name="nickname"> <br>
			<input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
			<input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
			<button type="submit"> Join </button>
		</form> <br>
		
		<a href="/login"> login page </a>
	</body>
</html>